In [20]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
stats_url = "https://fbref.com/en/comps/9/Premier-League-Stats"

In [3]:
data = requests.get(stats_url)

In [5]:
soup = BeautifulSoup(data.text)

In [6]:
season_table = soup.select('table.stats_table')[0]

In [14]:
team_links = [h for h in (l.get("href") for l in (season_table.find_all('a'))) if '/squads/' in h]

In [18]:
team_urls = [f"https://fbref.com{l}" for l in team_links]

In [27]:
team_url = team_urls[0]

team_data = requests.get(team_url)


team_matches = pd.read_html(team_data.text, match="Scores & Fixtures")

team_matches[0].head()

,Date,Time,Comp,Round,Day,Venue,Result,GF,GA,Opponent,xG,xGA,Poss,Attendance,Captain,Formation,Referee,Match Report,Notes
0,2023-08-06,16:00,Community Shield,FA Community Shield,Sun,Neutral,D,1 (4),1 (1),Manchester City,NaN,NaN,45.0,81145.0,Martin Ødegaard,4-3-3,Stuart Attwell,Match Report,Arsenal won on penalty kicks following normal ...
1,2023-08-12,12:30,Premier League,Matchweek 1,Sat,Home,W,2,1,Nott'ham Forest,0.8,1.2,78.0,59984.0,Martin Ødegaard,4-3-3,Michael Oliver,Match Report,NaN
2,2023-08-21,20:00,Premier League,Matchweek 2,Mon,Away,W,1,0,Crystal Palace,2.0,1.0,53.0,24189.0,Martin Ødegaard,4-3-3,David Coote,Match Report,NaN
3,2023-08-26,15:00,Premier League,Matchweek 3,Sat,Home,D,2,2,Fulham,3.2,0.6,71.0,59961.0,Martin Ødegaard,4-3-3,Paul Tierney,Match Report,NaN
4,2023-09-03,16:30,Premier League,Matchweek 4,Sun,Home,W,3,1,Manchester Utd,2.3,0.9,55.0,60192.0,Martin Ødegaard,4-3-3,Anthony Taylor,Match Report,NaN

In [24]:
shooting_soup = BeautifulSoup(team_data.text)

shooting_links = [h for h in (l.get("href") for l in (info_soup.find_all('a'))) if h and 'all_comps/shooting/' in h]
shooting_links

['/en/squads/18bb7c10/2023-2024/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions',
 '/en/squads/18bb7c10/2023-2024/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions',
 '/en/squads/18bb7c10/2023-2024/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions',
 '/en/squads/18bb7c10/2023-2024/matchlogs/all_comps/shooting/Arsenal-Match-Logs-All-Competitions']

In [25]:
shooting_data = requests.get(f"https://fbref.com{shooting_links[0]}")

shooting = pd.read_html(shooting_data.text, match="Shooting")[0]

shooting.head()

  For Arsenal                                                              \
         Date   Time              Comp                Round  Day    Venue
0  2023-08-06  16:00  Community Shield  FA Community Shield  Sun  Neutral
1  2023-08-12  12:30    Premier League          Matchweek 1  Sat     Home
2  2023-08-21  20:00    Premier League          Matchweek 2  Mon     Away
3  2023-08-26  15:00    Premier League          Matchweek 3  Sat     Home
4  2023-09-03  16:30    Premier League          Matchweek 4  Sun     Home

                                         ... Standard               Expected  \
  Result     GF     GA         Opponent  ...     Dist   FK PK PKatt       xG
0      D  1 (4)  1 (1)  Manchester City  ...      NaN  NaN  0     0      NaN
1      W      2      1  Nott'ham Forest  ...     19.1  0.0  0     0      0.8
2      W      1      0   Crystal Palace  ...     16.4  0.0  1     1      2.0
3      D      2      2           Fulham  ...     13.8  0.0  1     1      3.2
4      W      3      1   Manchester Utd  ...     15.0  0.0  0     0      2.3

                            Unnamed: 25_level_0
  npxG npxG/Sh G-xG np:G-xG        Match Report
0  NaN     NaN  NaN     NaN        Match Report
1  0.8    0.06  1.2     1.2        Match Report
2  1.2    0.09 -1.0    -1.2        Match Report
3  2.4    0.14 -1.2    -1.4        Match Report
4  2.3    0.13  0.7     0.7        Match Report

[5 rows x 26 columns]

In [31]:
#shooting.columns = shooting.columns.droplevel()
shooting.columns

Index(['Date', 'Time', 'Comp', 'Round', 'Day', 'Venue', 'Result', 'GF', 'GA',
       'Opponent', 'Gls', 'Sh', 'SoT', 'SoT%', 'G/Sh', 'G/SoT', 'Dist', 'FK',
       'PK', 'PKatt', 'xG', 'npxG', 'npxG/Sh', 'G-xG', 'np:G-xG',
       'Match Report'],
      dtype='object')

In [32]:
team_info = team_matches[0].merge(shooting[["Date", "Sh", "SoT", "Dist", "FK", "PK", "PKatt"]], on='Date')

In [34]:
team_info.shape

(27, 25)

In [36]:
shooting.shape

(28, 26)

In [38]:
team_matches[0]['Comp'].value_counts()

Premier League      38
Champions Lg         8
EFL Cup              2
Community Shield     1
FA Cup               1
Name: Comp, dtype: int64

In [39]:
shooting['Comp'].value_counts()

Premier League      18
Champions Lg         6
EFL Cup              2
Community Shield     1
Name: Comp, dtype: int64